.navbar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.mamisincancer {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.navbar-title {
  color: #e9288f;
  font-size: 3rem;
  margin: 0;
  margin-left: 0.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #e9288f;
}

.navbar-toggle,
.english-hidden-toggle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  gap: 5px;
}

.english-hidden-toggle span {
  color: #4b5563;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.menu-button:hover {
  color: #ff9dd0;
}

.toggle-checkbox:checked + .toggle-slider {
  background-color: #e9288f;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.4s;
}

.toggle-checkbox:checked + .toggle-slider::before {
  transform: translateX(20px);
}

.navbar-donate {
  background-color: #e9288f;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.navbar-donate:hover {
  background-color: #e9288f;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: #e9288f;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 100;
}

.sidebar.open {
  right: 0;
}

.sidebar .nav-link {
  width: 100%;
}

.sidebar .nav-link:hover {
  background-color: #f9f9f9;
  color: #e9288f;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #e9288f;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #4b5563;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 0;
}

.dropdown-button:hover {
  color: #e9288f;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar-donate:hover {
  background-color: #ff9dd0;
}

@media (min-width: 1151px) {
  .dropdown {
    position: relative;
  }

  .dropdown-content:not(.sidebar-dropdown-content) {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
    padding: 0.5rem 0;
  }

  .dropdown-content:not(.sidebar-dropdown-content) a {
    padding: 0.5rem 1rem;
  }

  .dropdown-content:not(.sidebar-dropdown-content) a:hover {
    background-color: #f9f9f9;
    color: #e9288f;
  }
}

@media (max-width: 1150px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbar-title {
    font-size: 2rem;
  }
  .mamisincancer {
    width: 60px;
    height: auto;
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-title {
    font-size: 1.5rem;
  }
}
